<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link href="{{ asset('Assets/css/styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

    </head>
    <body>
        {% block header %}
        <div id="header">
            <h1 class="titulopagina">Tareas Symfony</h1>
            <ul id="menu">
                <li class="menutareas"><a href="{{ path('tareas') }}">Inicio</a></li>
                <li><a href="">Mis Tareas</a></li>
                <li><a href="">Login</a></li>
                <li><a href="{{ path('registro') }}">Registro</a></li>

        </div>
        <div class="clearfix"></div>    
            </ul>
        {% endblock %}
        {% block body %}{% endblock %}

    </body>
</html>
